.build
.cproject
.deps
.libs
.project

aclocal.m4
autom4te.cache
config.log
config.status
config.guess
config.sub
configure
configure.lineno
depcomp
INSTALL
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
Makefile.include
Makefile.include.in
missing

*.o
*.a
*.P
*.lo
*.la
*.pvr
*.zip
