syntax: glob
src/sav/**
addon/addon.xml

addon/XBMC_WMC.pvr
addon/XBMC_WMC_win32.dll
addon/XBMC_WMC_win32.exp
addon/libXBMC_WMC.so

.deps/**
.libs/**
libpvrwmc-addon.la
Makefile
Makefile.in
*.tmp
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.sdf
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.DotSettings
*.lo
*.o
*.tlog
*.idb
*.lastbuildstate
*.intermediate.manifest
[Bb]in
[Dd]ebug*/**
obj/
[Rr]elease*/**
_ReSharper*/**
NDependOut/**
packages/**
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
ipch/**
*.resharper
*.ncrunch*
*.ndproj
*.csproj.user