<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- Connection -->
  <category label="30000">
    <setting id="host" type="text" label="30001" option="urlencoded" default="127.0.0.1" />
    <setting id="port" type="number" option="int" label="30002" default="8100" />
	<setting id="username" type="text" label="30005" default="" />
	<setting id="password" type="text" label="30006" default="" option="hidden"  enable="!eq(-1,)" />

  </category>
  <!-- Stream -->  
  <category label="30100">  
		<setting id="timeshift" type="bool" label="30111" default="false" />
		<setting id="enable_transcoding" type="bool" label="30102" default="false" />
		<setting id="bitrate"  visible="eq(-1,true)" type="number" label="30105" default="512" />
		<setting id="audiotrack"  visible="eq(-2,true)" type="text" label="30106" default="eng" /> 
		<setting id="height"  visible="eq(-3,true)" type="number" label="30103" default="0" />
		<setting id="width"  visible="eq(-4,true)" type="number" label="30104" default="0" />
  </category>
   <!-- Advanced -->
  <category label="30200">   
		<setting id="showinfomsg" type="bool" label="30202" default="false" />
		<setting id="add_rec_episode_info" type="bool" label="30203" default="true" />
</category>
</settings>